/* Global Layout Set-up */
:lang(en)
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(5, 5, 5);

}
/* Link Styles */



/* Section Styles */

.main-nav {
  width: 100%;
  background: rgb(5, 5, 5);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: #ccc;
}
.nav li {
  padding: 5px 10px 10px 10px;
  color: #ccc;
}
.nav a {
  transition: all .5s;
  color: #ccc;
}
.nav a:hover {
  color: rgb(245, 244, 244);
}

header {
  text-align: center;
  background: url('images/atchafalaya basin.jpg') no-repeat center;
  background-size: cover;
  border: 10px solid rgb(5, 5, 5);
  overflow: hidden;
  padding: 10px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid rgb(247, 246, 246);
  transition: all .5s;
}

.contact_head {
  margin-top: 200px;
}

.experience_head {
  margin-top: 200px;
}

.tag {
  background-color: rgb(5, 5, 5);
  color: rgb(250, 249, 249);
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
  background-color: rgb(5, 5, 5);
  color: rgb(245, 243, 240);
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: transparent;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card:hover {
  border-color: transparent;
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
  color: rgb(250, 249, 249)
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.facebook {
  background-image: url(images/facebook.png);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em; 
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
    background: rgb(5, 5, 5);
  }

  .head-one {
    text-align: center;
    background: url('images/saints logo.jpg') no-repeat center;
    background-size: 100% 100%;
    overflow: visible; 
    border: 10px solid black;
  }

  .head-two {
    text-align: center;
    background: url('images/grey.jpeg') no-repeat center;
    background-size: 100% 100%;
    overflow: visible; 
    border: 10px solid black;  
  }
  
  .profile-image {
    border-radius: 50%;
  }
  
  .emails{
    margin: 30px auto;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: center;
    border-bottom: 4px solid gray;
    border-radius: 6px;
    transition: all .5s; 
    color: rgb(5, 5, 5);
    vertical-align: center;
    
  }
  
  .social info {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: transparent;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }

  .copyright two {
    top: -8px;
    font-size: .75em;
    color: rgb(250, 249, 249) 
  }

}

